THREATLENS_AZURE_TENANT_ID=
THREATLENS_AZURE_CLIENT_ID=
THREATLENS_AZURE_CLIENT_SECRET=
THREATLENS_DEFAULT_SUBSCRIPTION_ID=
THREATLENS_SENTINEL_WORKSPACE_ID=

THREATLENS_VIRUSTOTAL_API_KEY=
THREATLENS_GREYNOISE_API_KEY=
THREATLENS_ABUSEIPDB_API_KEY=
